@model jpdemo1.Models.ContactModel

<!-- ContactForm -->
@using (Html.BeginUmbracoForm("Contact", "ContactSurface", null, new { @class = "contact-form" }))
{
    
    @Html.ValidationSummary(true)

    <div id="main-wrapper">
        <div id="main" class="container">
            <div class="row">
                <div class="9u skel-cell-mainContent">
                    <div class="content content-left ">
                        <!-- Content -->
                        <article class="is-page-content ">
                            <header>
                                <h2>Contact JP</h2>
                            </header>
                            <section>
                                <p>Please use this form to contact me.  This form and the underlying view, model and controller, were created from scratch.  Although this is a very simple form, I was able to learn how to do this in a short period of time.</p>

                                <div>
                                    @Html.LabelFor(x => x.Name, new { @class = "is-form-label" })
                                    @Html.TextBoxFor(x => x.Name, new { @class = "is-form-input" })
                                    @Html.ValidationMessageFor(x => x.Name)
                                </div>

                                <div>
                                    @Html.LabelFor(x => x.Email, new { @class = "is-form-label" })
                                    @Html.TextBoxFor(x => x.Email, new { @class = "is-form-input" })
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>

                                <div>
                                    @Html.LabelFor(x => x.Phone, new { @class = "is-form-label" })
                                    @Html.TextBoxFor(x => x.Phone, new { @class = "is-form-input" })
                                    @Html.ValidationMessageFor(x => x.Phone)
                                </div>

                                <div>
                                    @Html.LabelFor(x => x.Message, new { @class = "is-form-label" })
                                    @Html.TextAreaFor(x => x.Message, new { @class = "is-form-input" })
                                    @Html.ValidationMessageFor(x => x.Message)
                                </div>

                                @Html.HiddenFor(x => x.ThankYouPage)

                                <div class="6u right">
                                    <input type="submit" value="submit" class="btn" />
                                </div>
                            </section>
                        </article>
                        <!-- /Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- /ContactForm -->
